body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.logo {
  font-weight: bolder;
  margin-left: 40%;

}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text h6 {
  font-weight: bolder;
}

.hero-text p {
  font-size: 12px;
  margin-bottom: 20px;
}

.search-bar input {
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  border-radius: 0 5px 5px 0;
  background-color: orangered;
}


.popular-dishes h2 {
  font-size: 36px;
  margin-bottom: 40px;
  margin-right: 70%;
}

.dish img {
  border-radius: 10px;
}

.dish p {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}



.checked {
  color: goldenrod;
  font-size: 20px;
}

.unchecked {
  font-size: 20px;
}

.img-fluid {
  width: 140px;
  height: 100px;
}

.icon-overlay {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ff7e67;
  cursor: pointer;
}

.icon-overlay i {
  color: #ff7e67;
  font-size: 14px;
}
/* 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
} */

.text-overlay {
  text-align: left;
}

.since {
  display: block;
  color: #ff7e67;
  /* Orange color */
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
}

.year {
  display: block;
  color: #d3d3d3;
  /* Light gray color */
  font-family: 'Arial', sans-serif;
  font-size: 64px;
  font-weight: bold;
  opacity: 0.1;
  margin-left: 10px;
}